<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.avengerss">

    <application
        android:allowBackup="true"
        android:icon="@drawable/aven"
        android:label="Android"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".Linear_Relative" />
        <activity android:name=".Linear_Relative2" />
        <activity android:name=".Linear_Relative3" />
        <activity android:name=".IntentOnePageToAnother" />
        <activity android:name=".IntentOnePageToAnother2" />
        <activity android:name=".Main5ActivityWelcome" />
        <activity android:name=".IntentTo1" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".NameEmailAge" />
        <activity android:name=".NameEmailAgeWelcome" />
        <activity android:name=".IntentNewPage" />
        <activity android:name=".IntentNewPageWelcome" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".OptionMenuIntegrate"></activity>
        <activity android:name=".BackPress" />
        <activity android:name=".OptionsMenuIntegrate2" />
        <activity android:name=".ConextMenu" />
        <activity android:name=".Alert">

        </activity>
        <activity android:name=".TimePickerTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>